<body>
  <h1>TinyApp</h1>

  <% if(locals.user){ %>

  <form action='/logout' method='POST'>
    <p style='display: inline-block'>
      <%= user %>
    </p>
    <button type='submit' class="btn btn-primary">Log Out</button>

  </form>

  <% } else { %>

  <body>

    <font size="6"><a href='/register'> Register </a></font>
    <font size='6'>|</font>
    <font size="6"><a href='/login'> Log In </a></font>
    <!--
    <form class="form-inline" action="/register" method="POST">
      <div class="form-group mb-2">
        <input type="email" name="email" placeholder="Email" style="width: 200px; margin: 1em">
        <br>
        <input type='password' name='password' placeholder='Password' style="width: 200px; margin: 1em">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  -->
  </body>

  <% } %>
  <br>
  ---------------------------
</body>