<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <form class="form-inline" action="/register" method="POST">
    <div class="form-group mb-2">
      <input type="email" name="email" placeholder="Email" style="width: 200px; margin: 1em">
      <br>
      <input type='password' name='password' placeholder='Password' style="width: 200px; margin: 1em">
      <br>
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
  <br>
  <br>
  <a href='/urls'>Back to URL Index</a>
</body>